*.sqlite3
*.pyc
**/.sass-cache/
*.map
.idea/
.vscode/
media/
information/
all_staticfiles/
*.zip
node_modules/
static/uploaded/
virtualenv/
tmp/
.DS_Store
env/
venv/
venv/
ticketing/
myenv/
static/common-react-dashboard/js_dev/
aidoos/settings/local.py
**/migrations/
**/__pycache__/
**/migrations/**