<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <style>
        body {
            margin: 20px;
        }

        .buttons_div {
            display: flex;
            /* Use flexbox to make children inline */
            
            /* Center align children */
        }

        .buttons_div form {
            margin-right: 10px;
            /* Add space between forms */
        }
    </style>
</head>
<body>
    <div class="buttons_div">
        <form action="{% url 'home_page' %}">
            <input type="submit" value="Home" />
        </form>
        <form action="{% url 'list_all_users' %}">
            <input type="submit" value="All Users" />
        </form>
        <form action="{% url 'user_details' id=id %}">
            <input type="submit" value="Back" />
        </form>
    </div>
    <hr>
    <div><h1>Delete User</h1></div>
    <p>Are you sure you wanna delete?</p>
    <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <input type="submit" value="Yes" />
            <a href="/">Cancel </a>
        </form>
    </div>
</body>
</html>