{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block header %}
<h1 style="text-align: center;">
    {% if user.is_authenticated %}
    Welcome {{ user.username }}!
    {% else %}
    Welcome to Famo
    {% endif %}
</h1>
{% endblock %}
{% block content %}
    <div>
        <h2>Movies</h2>
        {% for movie in movies %}
        <h1>{{movie.name}}</h1>
        <img style="height: 300px; width:200px;" src="{{MEDIA_URL}}{{movie.image.url}}" alt="My image">
        {% endfor %}
        <form action="{% url 'movies_home' %}">
            <input type="submit" value="Movies" />
        </form>
    </div>
    <br>
    <div>
        <h2>Series</h2>
        <form action="{% url 'series_home' %}">
            <input type="submit" value="Series" />
        </form>
    </div>
</div>

{% endblock %}